
/* Useful stuff and generic styling */
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300';
*, *:after, *:before {box-sizing: border-box;}
body {
    font-family: "Open Sans",sans-serif;
    color: inherit;
    background: rgba(40,70,100,1);
    font-size: 12px;
    padding: 10vh 0 0 0;
}
.err {
    border-color: red !important;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

    background-image: linear-gradient(-45deg,#ff9ff3,#9b59b6,#2ecc71,#40E0D0,#FF8C00,#FF0080);
    background-size: 400%;
    animation: slide 30s ease infinite;
}
@keyframes slide {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.wrapperDesc{
    padding-left: 181px !important
}
.statusPoint{
    margin-left: -12px ;
}
/*Reusable parts*/
.module {
    margin-bottom: 2em;
    background: rgba(255,255,255,1);
    color: rgba(37,40,42,1);
    float:left;width:100%;
    height: 100%;
    box-shadow: 0 5px 20px rgba(0,0,0,.5);
    border-radius: .5em;
}
.module [class*='col-'] .inner {
    padding: 2em 0;
}
.red {color: rgba(241,0,0,1);}
.green {color :rgba(78,170,62,1);}
.uppercase {text-transform: uppercase;}
.btn {
    display:inline-block;
    padding: .75em 2em;
    line-height: 1.5;
    background: rgba(18,119,189,1);
    color: rgba(255,255,255,1);
    font-weight: 400;
    border-radius: 0;
    margin: .5em;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
    letter-spacing: .05em;
    transition: .5s ease all;
    max-width:100%;
    border-radius: .25em;
}
.btn:hover {
    background: rgba(13,137,223,1);
    color: rgba(255,255,255,1);
    transform: translate(0,-.125em);
    box-shadow: 0 4px 10px rgba(0,0,0,.1);
}
.btn-green {background: rgba(78,170,62,1);}
.btn-green:hover {background: rgba(72,188,52,1);}
.btn-black {background: rgba(37,40,42,1);}
.btn-black:hover {background: rgba(85,91,96,1);}




/*Responsive Table & Accordion Styles*/
.tabular-data {
    overflow:hidden;
    position: relative;
}
.data-group {
    border-bottom: 1px solid rgba(220,220,220,1);
}
.data-inactive {
    color: rgba(120,120,120,1);
    background: rgba(230,230,230,1);
    padding: 1.5em;
    float:left;
    width: 100%;
}
.data-header {
    font-weight:bold;
    text-transform: uppercase;
    color: rgba(85,91,96,.5);
    padding: 1.5em;
}
.data-group:last-child {border:none;}
.data-group .data-expands,
.data-group .expandable {
    will-change:
            max-height,
            padding,
            opacity,
            background;
    transition:
            ease max-height .5s,
            ease padding .5s,
            ease opacity .5s,
            ease background .5s;
}
.data-group .data-expands {
    cursor: pointer;
    padding: 1.5em;
    float:left;
    width: 100%;
}
.data-group .title {font-weight:600}
.data-group .expandable {
    transform-origin: top;
    margin: 0 1.25em 0;
    padding: 0 1.5em;
    font-weight: 600;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
}
.data-group .expandable p {
    font-weight: 400;
    color: rgba(100,100,100,1);
}
.data-group .expandable hr {
    margin: 1em 0;
}
.data-group .expandable .btn {
    margin: 0;
    padding: .75em 0;
    width: 100%;
}
.row-active, .row-open {
    background: rgba(245,245,245,1);
    opacity: 1 !important;
}
.row-open {
    max-height: 999px !important;
    padding: 1.5em !important;
}
.row-toggle {
    position: relative;
    cursor: pointer;
    float: right;
    display: block;
    margin: .3em 0.5em 0 0;
    font-size: 2em;
    transition: ease transform .5s;
    transform-origin: center;
    line-height: 1;
    font-weight: bold;
}
.row-toggle .horizontal,
.row-toggle .vertical {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    content:" ";
    width: 16px;
    height: 2px;
    background: rgba(120,120,120,1);
    transition: ease transform .5s;
    transform-origin: center;
}
.row-toggle .vertical {
    transform: rotate(90deg);
}
.row-toggle-twist,
.row-toggle-twist .vertical {
    transform: rotate(180deg);
}


#container{
    height: 629px;
    overflow-y: auto;
    overflow-x: hidden;
}
#container::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
.disNone {
    display: none !important;
}

@media screen and (max-width: 992px) {

    #container{
        height: auto;
        overflow-y: inherit;
        overflow-x: inherit;
    }


    .data-group .title {display:inline-block;padding-bottom: 1em;}
    .wrapperDesc{
        padding-left: 0px !important
    }
    .statusPoint{
        margin-left: 0px ;
    }

}
